<table mat-table [dataSource]="dataList" class="">
    <ng-container matColumnDef="speciality">
        <th mat-header-cell [style.color]="'#A8A8A8'" *matHeaderCellDef>ESPECIALIDADE</th>
        <td mat-cell *matCellDef="let elemento; let i = index" [class.cor-alternada]="i % 2 === 0">
            {{elemento.speciality}}</td>
    </ng-container>
    <ng-container matColumnDef="doctor">
        <th mat-header-cell [style.color]="'#A8A8A8'" *matHeaderCellDef>PROFISSIONAL</th>
        <td mat-cell *matCellDef="let elemento; let i = index" [class.cor-alternada]="i % 2 === 0">Dr.
            {{elemento.doctor}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell [style.color]="'#A8A8A8'" *matHeaderCellDef>DATA</th>
        <td mat-cell *matCellDef="let elemento; let i = index" [class.cor-alternada]="i % 2 === 0">{{elemento.date |
            date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="time">
        <th mat-header-cell [style.color]="'#A8A8A8'" *matHeaderCellDef>HORA</th>
        <td mat-cell *matCellDef="let elemento; let i = index" [class.cor-alternada]="i % 2 === 0">{{elemento.time}}
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell [style.color]="'#A8A8A8'" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let elemento; let i = index" [class.cor-alternada]="i % 2 === 0">
            <button mat-button 
                [ngClass]="'buttonMarkOff'"
                (click)="onClick(elemento.id)">
                <mat-icon>close</mat-icon>
                Desmarcar
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>