
.containerDialod {
    border-radius: 0 !important;
  }

  .formSelect{
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
  }
  