.mat-toolbar {
    box-shadow: none;
    background-color: white;
}

.logo-container {
    width: 64px;
    height: 64px;
}

.spacer {
    flex: 1 1 auto;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 2rem;
    color: #A8A8A8;
    font-size: small;
}

.logout { 
    color: #49B4BB !important; 
    margin-right: 0rem !important;

    cursor: pointer;
    font-size: small;
}