<div ngClass="container">
    <mat-card class="card" appearance="raised">
        <mat-card-content>
            <div>
                <app-logo [largeImage]="true"></app-logo>
            </div>

            <form [formGroup]="formulario" (ngSubmit)="submitFormulario()">
                <mat-form-field ngClass="formFieldInput" appearance="outline">
                    <mat-label>Email ou Login</mat-label>
                    <input [style.color]="'#A8A8A8'" matInput formControlName="email">
                    <mat-error
                        *ngIf="getCampo('email').invalid && (getCampo('email').dirty || getCampo('email').touched)">
                        Email inválido
                    </mat-error>
                </mat-form-field>
                <mat-form-field ngClass="formFieldInput" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input [style.color]="'#A8A8A8'" ngClass="formInput" matInput formControlName="senha" type="password">
                    <mat-error
                        *ngIf="getCampo('senha').invalid && (getCampo('senha').dirty || getCampo('senha').touched)">
                        Senha é obrigatória
                    </mat-error>
                </mat-form-field>
                <mat-checkbox color="accent" formControlName="concorda">
                    <span [style.color]="'#A8A8A8'">Lembrar minha senha</span>
                </mat-checkbox>
            </form>

            <div ngClass="button-container">
                <app-button [buttonClassIsPrimary]="false" [buttonText]="'criar conta'" [buttonText]="'criar conta'"
                    (buttonClick)="handleRegister()"></app-button>
                <app-button [buttonClassIsPrimary]="true" [buttonText]="'acessar'"
                    (buttonClick)="handleLogin()"></app-button>
            </div>
        </mat-card-content>
    </mat-card>
</div>