<div ngClass="container">
    <mat-card class="card" appearance="raised">
        <mat-card-content>
            <div>
                <app-logo [largeImage]="true"></app-logo>
            </div>

            <form [formGroup]="formulario">
                <mat-form-field ngClass="formFieldInput" appearance="outline">
                    <mat-label>Email ou Login</mat-label>
                    <input [style.color]="'#A8A8A8'" matInput formControlName="username">
                    <mat-error
                        *ngIf="getCampo('username').invalid && (getCampo('username').dirty || getCampo('username').touched)">
                        Email é obrigatório
                    </mat-error>
                </mat-form-field>
                <mat-form-field ngClass="formFieldInput" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input [style.color]="'#A8A8A8'" ngClass="formInput" matInput formControlName="password" type="password">
                    <mat-error
                        *ngIf="getCampo('password').invalid && (getCampo('password').dirty || getCampo('password').touched)">
                        Senha é obrigatória
                    </mat-error>
                </mat-form-field>
                <mat-checkbox color="accent" formControlName="agree">
                    <span [style.color]="'#A8A8A8'">Lembrar minha senha</span>
                </mat-checkbox>
            </form>

            <div ngClass="button-container">
                <app-button [buttonClassIsPrimary]="false" [buttonText]="'criar conta'"
                    (buttonClick)="goToRegister()"></app-button>
                <app-button [buttonClassIsPrimary]="true" [buttonText]="'acessar'" [buttonDisabled]="formulario.invalid"
                    (buttonClick)="handleLogin()"></app-button>
            </div>
        </mat-card-content>
    </mat-card>
</div>