@mixin center {
    display: flex;
    justify-content: center;
    align-items: start;
}

.containerMaster {
    width: 50em;
    display: block;
    background-color: red;
    box-shadow: none;
    justify-content: center;
}

.container {
    height: 100vh;
    @include center;
}

.cardContainer {
    background-color: #fff;
    width: 50em;
    box-shadow: none; // Definindo a sombra leve
    transition: box-shadow 0.3s ease; // Adicionando transição suave na sombra
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Definindo a sombra leve
    transition: box-shadow 0.3s ease; // Adicionando transição suave na sombra
}

.cabecalho {
    display: flex;
    justify-content: space-between; // Para justificar os itens com espaço entre eles
    align-items: center; // Para centralizar verticalmente os itens

    .newQueryButton {
        display: flex;
        justify-content: center; // Para justificar os itens com espaço entre eles
        align-items: center;
        padding: 0.1rem 3rem 0.1rem 3rem;
        border-radius: 5px;
        background-color: #49B4BB;
        height: 2rem;
        font-weight: 400;
        color: white !important;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;


        &:hover {
            background-color: #90D3D7;
            color: white;
        }
    }

    .titulo {
        margin: 0;
        font-weight: 500;

        color: #444444;
        font-size: 1.3rem;
    }
}

.tabelaPrincipal {
    margin-top: 1.5rem;
}